
@{
    ViewBag.Title = "Index";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <a href="/User/SendNew">
                <div class="dashboard-box" id="sendnew" style="height: 50px; width: 50px;">
                    <h3>New</h3>
                </div>
            </a>
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3">
            
            <div class="panel panel-primary" id="summary_container">
                <div class="panel-heading">
                    <h3 class="panel-title">Documents</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" id="addRep">
                            Sent
                        </li>
                        <li class="list-group-item" id="editRep">
                            Pending
                        </li>
                        <li class="list-group-item" id="editRep">
                            Completed
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-primary" id="summary_container">
                <div class="panel-heading">
                    <h3 class="panel-title">Filters</h3>
                </div>
                <div class="panel-body">
                    <select id="docfilter">
                        <optgroup label="Document Status">
                            <option value="pending_employee">Pending_employee</option>
                            <option value="pending_representative">Pending_representative</option>
                            <option value="completed">Completed</option>
                            <option value="terminated">Terminated</option>
                        </optgroup>
                        <optgroup label="Representative">
                            <option value="representative">Representative</option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-4">
            <div class="panel panel-primary" id="details_container">
                <div class="panel-heading">
                    <h3 class="panel-title">Details</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-responsive table-hover" id="docDetails">
                        <thead>
                            <tr>
                                <th data-field="empemail">Employee Email</th>
                                <th data-field="docStatus">Document Status</th>
                                <th data-field="docRepresentative">Representative</th>
                                <th data-field="Date">Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var documentDetails = [];
        $.get({
            url: '/Document/GetDocumentDetails',
            data: {},
            success: function (docdata) {

                documentDetails.push(docdata);
                $('#docDetails').DataTable({
                    data: docdata,
                    aoColumns: [
                        { data: "UserEmail" },
                        { data: "DocumentStatusName" },
                        { data: "RepresentativeName" },
                        { data: "DateUpdated" }
                    ]

                });
                //console.log(docdata);
            },
            error: function () {

            }
        });
        //console.log(documentDetails);
        $('#docfilter').change(function () {
            //alert(this.value);
            var filterValue = this.value;

            //var docDetails = documentDetails;

            //console.log(docDetails);
            //if (filterValue != null) {
            //    $('#docDetails').dataTable().fnDestroy();
            //}

            dataFilter(filterValue);
            

        });


        var dataFilter = function (filterVal) {
            $('#docDetails').DataTable({
                "destroy": true,
                
                "ajax":{
                    url: 'Document/GetDocumentDetailsByFilter',
                    data: { filterVal },
                    success: function (data) {
                        console.log('true');
                    },
                    error: function () {

                    }
                }
            });
        }
    });
</script>
