
@{
    ViewBag.Title = "Index";
}

@if(ViewBag.displayMenu == "Yes")
{
    <h1>welcome admin</h1>
    <h3>Module coming soon</h3>
}
else
{
    <h1> Welcome @ViewBag.Name</h1>
    <h3>Module coming soon</h3>
}

