@model IEnumerable<EEAFormI9Portal.EF.AspNetUser>

@{
    ViewBag.Title = "User Details";
}

<script>

    $(document).ready(function () {
        //alert('hi');

        $.get('/User/GetUserDetails', {}, function (userdata) {
            console.log(userdata);


            $('#userDetailsTable').dataTable({
                data: userdata,
                aoColumns: [
                    { data: "Email" },
                    { data: "PhoneNumber" },
                    { data: "UserName" }
                    //{
                    //    mData: null,
                    //    bSortable: false,
                    //    mRender: function (o) { return '<i class="ui-tooltip fa fa-pencil" style="font-size: 22px;" data-original-title="Edit"></i><i class="ui-tooltip fa fa-trash-o" style="font-size: 22px;" data-original-title="Delete"></i>'; }
                    //}

                ]

            });
        });
    });

  

</script>



<div class="container-fluid">
    <h2>Employee details</h2>
    <table class="table table-responsive table-hover" id="userDetailsTable">
        <thead>
            <tr>
                <th data-field="email">Email</th>
                <th data-field="phonenumber">Phone Number</th>
                @*<th data-field="lockoutenabled">Lockout Enabled</th>*@
                @*<th data-field="accessfailedcount">Access Failed Count</th>*@
                <th data-field="username">User Name</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

