@model IEnumerable<EEAFormI9Portal.EF.AspNetUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<script>
    $(document).ready(function () {
        //alert('hi');
            $.get('/Roles/GetUserDetails', {}, function (userdata) {
                console.log(userdata);
                $('#userDetailsTable').dataTable({
                    data: userdata,
                    columns: [
                        { data: "Email" },
                        { data: "PhoneNumber" },
                        { data: "UserName" }
                    ]
                });
            });
    });
</script>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="userDetailsTable">

    <thead>
        <tr>
            <th data-field="email">Email</th>
            <th data-field="phonenumber">Phone Number</th>
            <th data-field="lockoutenabled">Lockout Enabled</th>
            <th data-field="accessfailedcount">Access Failed Count</th>
            <th data-field="username">User Name</th>
            <th data-field="role">Role</th>
        </tr>
    </thead>
    @*    <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}*@

</table>
